.main-header .logo {
  padding: 0 0;
}

.irs-bar, .irs-bar-edge, .irs-single, .irs-grid-pol {
  background: rgb(83, 167, 173);
  border-color: rgb(83, 167, 173);
}

.irs-from, .irs-to {
  background: rgb(83, 167, 173);
}

.irs-grid-pol.small {height: 0px;}

.content {
    overflow-y: hidden;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(83, 167, 173);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: rgb(83, 167, 173);
}

.form-control:focus {
    border-color: rgb(83, 167, 173)
}

.selectize-input.focus {
  border-color: transparent;
}

.btn-default {
    background-color: #fff;
}

.open>.dropdown-toggle.btn-default:hover {
    background-color: #fff;
}

.dropdown-menu>li>a {
    color: #333;
}

.btn-default:hover {
    background-color: #fff;
    border-color: transparent;
}

.btn.focus, .btn:focus {
  background-color: #fff;
}





